* {
  background-color: #c8ee90;
}

a:hover {
  color: #c8ee90;
  background-color: #8800c7;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.chem-logo {
  background-color: white;
  height: 200px;
  width: 250px;
}

.DR {
  background-color: white;
}

.schools {
  border: 3px dotted #7e0acb;
}

.title {
  border: 5px solid white;
}

#dylan-img {
  margin-top: 25px;
  border: 3px solid white;
  opacity: 90%;
}
