body {
  font-family: 'Quicksand', sans-serif;
  background-color: #c8ee90;
  text-align: center;

}

#title-index {
  border: 5px solid white;
}

.dylan-img-bg {
  background-color: white;
  padding: 10px;
  margin: 20px 400px;
}

#dylan-img {
  margin-top: 25px;
}
